---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";

import "../styles/global.css";

const pageTitle = "About Thomas Van Riel";
const identity = {
  firstName: "Thomas",
  country: "Belgium",
  occupation: "Mechanical Engineer",
  favoriteDinosaur: "Stegosaur",
};

const skills = ["Mechanical Design", "Manufacturing"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-widt  h" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />

    <h1>{pageTitle}</h1>
    <p>Some facts about me:</p>
    <ul>
      <li>First name: {identity.firstName}</li>
      <li>Country: {identity.country}</li>
      <li>Occupation: {identity.occupation}</li>
      <li>Favorite dinosaur: {identity.favoriteDinosaur}</li>
    </ul>
    <p>My skills:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am happy!</p>}
    {finished && <p>I am finished!</p>}
    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
